#pom.xml
*jar
*.war
/lib/
/classes/
vinzi.jsonMgt/target/
.lein-failures
.lein-deps-sum
*~
*.class
*#
*.log
*.bck
*.old
*.bak
*.sql
*.swp
*.tmp
*.swo
*.pyc
vinzi.jsonMgt/test-data/*.json
ccw.repl.cmdhistory.prefs
